<%= simple_form_for(@idea, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :description, :label => "Describe your idea:", as: :text, input_html: { rows: "5", class: "span8" } %>
  <%= f.input :problem_statement, :label => "What problem does this idea solve?", as: :text, input_html: { rows: "5", class: "span8" } %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
