<h1>Ideas</h1>

<table>
  <tr>
    <th class="span2">Product</th>
    <th class="span5">Description</th>
    <th class="span2">Submitter</th>
    <th class="span1">Hours</th>
    <th class="span1">Priority</th>
    <th class="span1">Action</th>
  </tr>

<% @ideas.each do |idea| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= idea.related_product %></td>
    <td><%= idea.description %></td>
    <td><%= idea.submitted_by %></td>
    <td></td>
    <td></td>
    <td>
      <%#<%= link_to '', idea, :class => "icon-zoom-in" %>
      <%= link_to '', idea, :class => "icon-comment" %>
      <%#<% if current_user == idea.user %>
      <%#  <%= link_to '', edit_idea_path(idea), :class => "icon-edit" %>
      <%#  <%= link_to '', idea, method: :delete, data: { confirm: 'You''re about delete an idea. This cannot be undone. Are you sure?' }, :class => "icon-trash" %>
      <%#<% end %>
      </td>
    
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Idea', new_idea_path, class: "btn btn-primary" %>
