<div class="row">
	<div class="span8">
		<div class="well">
			<b>Description:</b>
			<p>
			  <%= @idea.description %>
			</p>

			<b>What problem does this idea solve?</b>
			<p>
			  <%= @idea.problem_statement %>
			</p>
			
			<p>
				<small>
					  Submitted by: <%= @idea.user.name %>
				</small>
			</p>
			
			<% if current_user == @idea.user %>
				<%= link_to 'Edit', edit_idea_path(@idea) %> |
			<% end %>
			<%= link_to 'Back', ideas_path %>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<h3>Comments</h3>
			<%= render @idea.comments %>
			<%= render :partial => "comments/form" %>
		</div>
	</div>
</div>