<%= simple_form_for(@idea, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :description, :label => "Describe your idea:", as: :text, input_html: { rows: "5", class: "span8" } %>
  <%= f.input :problem_statement, :label => "What problem does this idea solve?", as: :text, input_html: { rows: "5", class: "span8" } %>
  <%= f.input :related_product, :label => "Related product:", :collection => ["BPTW","Core","GoalPost","LeaderGrade","Marketing","TeamPulse","Wyygo"], prompt: "Select related product" %>

  <%= f.input :submitted_by, :label => "Submitted by:", :collection => User.all, :selected => current_user.id %>
  <%= f.input :hours, :as => :hidden, :input_html => { :value => -1 } %>
  <%= f.input :priority, :as => :hidden, :input_html => { :value => -1 } %>
  <%= f.input :status, :as => :hidden, :input_html => { :value => "New" } %>
  <%= f.input :sprint_num, :as => :hidden, :input_html => { :value => -1 } %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
