<p><%= link_to 'Back to Ideas', ideas_path, class: "btn btn-info" %></p>
<div class="row">
	<div class="span8">
		<div class="well">
			<b>Description:</b>
			<div class="float-right"><%= link_to '', @idea, method: :delete, data: { confirm: 'Are you sure?' }, :class => "icon-trash" %></div>
			<div class="float-right"><%= link_to '', edit_idea_path(@idea), :class => "icon-pencil" %></div>
			<p>
			  <%= @idea.description %>
			</p>

			<b>What problem does this idea solve?</b>
			<p>
			  <%= @idea.problem_statement %>
			</p>
			
			<p>
				<small>
					  Submitted by: <%= @idea.user.name %>
				</small>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span8">
		<%= render @idea.comments %>
		<%= render :partial => "comments/form" %>
	</div>
</div>