<% if user_signed_in? %>
	<div class="row">
	  <div class="span3">
	    <h1>Last 5 Ideas</h1>
	  </div>
	  <div class="span9 float-right text-align-right">
	    <p>The six stages of an idea:</p>
	    <p>New > Needs Requirements > Sprintable > Sprint > Staged > Done</p>
	  </div>
	</div>
	<br/>
	<table>
	  <tr>
	    <th class="span2">Product</th>
	    <th class="span5">Idea</th>
	    <th class="span2">Submitter</th>
	    <th class="span1">Hours</th>
	    <th class="span1">Priority</th>
	    <th class="span1">Sprint</th>
	    <th>Status</th>
	    <th>Comment</th>
	  </tr>

	<% @recentIdeas.each do |idea| %>
	  <tr class="<%= cycle('oddrow', 'evenrow') %>">
	    <td><%= idea.related_product %></td>
	    <td><span class="rest-in-place" data-url="ideas/<%= idea.id %>" data-object="idea" data-attribute="description" data-formtype="textarea"><%= idea.description %></span></td>
	    <td><%= idea.submitted_by %></td>
	    <td><span class="rest-in-place" data-url="ideas/<%= idea.id %>" data-object="idea" data-attribute="hours"><%= idea.hours %></span></td>
	    <td><span class="rest-in-place" data-url="ideas/<%= idea.id %>" data-object="idea" data-attribute="priority"><%= idea.priority %></span></td>
	    <td><span class="rest-in-place" data-url="ideas/<%= idea.id %>" data-object="idea" data-attribute="sprint_num"><%= idea.sprint_num %></span></td>
	    <td><span class="rest-in-place" data-url="ideas/<%= idea.id %>" data-object="idea" data-attribute="status"><%= idea.status %></span></td>
	    <td>
	      <%= link_to '', idea, :class => "icon-zoom-in" %>
	      <% if idea.comments.count >= 1 %>
	        <%= link_to '', idea, :class => "icon-comment" %></td>
	      <% end %>
	  </tr>
	<% end %>
	</table>

	<br />
	<%= link_to "See all ideas", ideas_path %>

<% else %>
	<div class="hero-unit">
			<h1>Welcome to Ideaboxx</h1>
			<p>An innovation management app by <%= link_to "Quantum Workplace", "http://www.quantumworkplace.com" %>.</p>
	</div>

	<div class="row">
		<div class="span3">
			<img src="/assets/how-it-works-1.jpg" alt="1. Submit Idea">
		</div>

		<div class="span1">
			<img src="/assets/howitworksdivider.png">
		</div>
	
		<div class="span3">
			<img src="/assets/how-it-works-2.jpg" alt="1. Strengthen Idea">
		</div>
	
		<div class="span1">
			<img src="/assets/howitworksdivider.png">
		</div>
	
		<div class="span3">
			<img src="/assets/how-it-works-3.jpg" alt="1. Strengthen Idea">
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<p>Empower your people to submit ideas, bugs and enhancements.</p>
		</div>

		<div class="span1">
			&nbsp;
		</div>
	
		<div class="span3">
			<p>Assign owners to flesh out the idea in one central spot.</p>
		</div>
	
		<div class="span1">
			&nbsp;
		</div>
	
		<div class="span3">
			<p>Make sure your teams are working on the ideas that matter most.</p>
		</div>
	</div>


<% end %>